/*.raleway-<uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
*/

/*.roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
*/

/*#region GENERAL*/

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    }

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}
/*#endregion GENERAL*/


/* #region Header */

.header-container {
    border-bottom: 1px solid #e7e9fc;
}

.header-container .container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
}

.header-nav {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.nav-menu-header {
    display: block;
    padding: 24px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-menu-header:hover, .nav-menu-header:focus {
    color: #404BBF;
}
.nav-menu-header:active {
    color: #404BBF;
}

.header-address {
    display: flex;
    gap: 40px;
}

.header-address {    
    font-style: normal;
}

.header-contacts {
    display: flex;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-contacts:hover, .header-contacts:focus {
color: #404BBF;
}

.contacts-link:hover, .contacts-link:focus {
color: #404BBF;
}

/*#endregion Header*/

/* #region Section Hero*/
.hero {
    background-color: #2E2F42;
    padding: 188px 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.hero-title {
    margin-right: auto;
    margin-left: auto;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.hero-button {
    display: block;
    margin: 48px auto 0;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); 
}

.hero-button:hover, .hero-button:focus {
    background-color: #404BBF;
}
/* #endregion Section Hero*/

/*#region Section Competence*/


.competence {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.competence-list {
    display: flex;
    gap: 24px;
}

.link-competence {
    width: calc((100% - 72px) / 4);
}

.name-description {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*#endregion Section Competence*/

/*#region Section Team*/
.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.person-info {
    padding: 32px 0;
}

.team-name {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-position {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/*#endregion Section Team*/

/*#region Section Portfolio*/

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.application {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    }

.portfolio-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-category {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*#endregion Section Portfolio*/

/*#region Footer*/
.footer {
    padding: 100px 0;
    background-color: #2E2F42;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.text-footer {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
/*#endregion Footer*/